<div
  id="first-login-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 right-0 left-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-x-hidden overflow-y-auto p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow-xs dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
          Import aktywności
        </h3>
      </div>
      <!-- Modal body -->
      <div class="space-y-6 p-6">
        <p class="text-justify text-base leading-relaxed text-gray-500 dark:text-gray-400">
          Witaj w aplikacji Rowerowe Gminy! <br />
          Jest to Twoje pierwsze logowanie, potrzebujemy więc trochę czasu, aby zaimportować
          wszystkie Twoje aktywności. Po zakończeniu tego procesu, będziesz móc swobodnie korzystać
          z aplikacji. W międzyczasie możesz wykorzystać tę chwilę na
          <a class="text-blue-500" href="https://www.strava.com/clubs/rowerowegminy" target="_blank"
            >dołączenie do naszego klubu na Strava!</a
          >
          Aplikacja jest ciągle rozwijana, więc jeśli masz jakieś pytania lub sugestie, nie wahaj
          się napisać do nas poprzez klub!
        </p>
        <hr class="py-2" />
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          Liczbę oczekujących aktywności możesz również śledzić w sekcji "Użytkownik".
          <app-processing-stats [delayedStart]="true" />
        </p>
      </div>
      <div
        class="flex items-center justify-end space-x-2 rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600"
      >
        <a href="https://www.strava.com/clubs/rowerowegminy" target="_blank" appBtn>Klub</a>
        <button appBtn main (click)="close()">Zamknij</button>
      </div>
    </div>
  </div>
</div>
