<div
  id="first-login-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl">Import aktywności</h3>
      </div>
      <!-- Modal body -->
      <div class="space-y-6 p-6">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          Witaj w aplikacji Rowerowe Gminy! Jest to twoje pierwsze logowanie, dlatego prosimy o zaimportowanie Twoich dotychczasowych aktywności ze Stravy, abyśmy mogli
          zwizualizować odwiedzone przez Ciebie gminy. Po zakończeniu importu zobaczysz mapę z oznaczonymi miejscami, w których już byłeś, oraz dowiesz się, które gminy czekają
          jeszcze na odkrycie! Wszystkie nowe aktywności będą automatycznie importowane na bieżąco.
        </p>
        <form class="space-y-4" action="#">
          <div>
            <label for="start-date" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Importuj dane od:</label>
            <input
              type="text"
              name="start-date"
              id="start-date"
              [formControl]="startDate"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
              placeholder="Data utworzenia konta"
            />
            @for (error of startDateErrors(); track $index) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>
            }
            <!-- <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Username already taken!</p> -->
          </div>
        </form>
      </div>
      <div class="flex items-center space-x-2 rounded-b border-t border-gray-200 p-6 dark:border-gray-600 rtl:space-x-reverse">
        <button appBtn (click)="onSubmit()" main>Importuj</button>
        <button appBtn (click)="modal.hide()">Może później</button>
      </div>
    </div>
  </div>
</div>
