<div class="mx-auto max-w-(--breakpoint-md) items-center justify-between px-2 py-2 md:py-12">
  <h2 class="py-4 text-4xl font-extrabold dark:text-white">Opcje użytkownika</h2>
  <hr class="py-4" />

  @if (authSvc.isLoggedIn()) {
    <h3 class="py-4 text-3xl font-bold dark:text-white">Import aktywności</h3>
    <app-import-dialog class="py-2" [includeCloseOption]="false" />
  }

  <h3 class="py-4 text-3xl font-bold dark:text-white">Ustawienia prywatności</h3>
  <app-cookie-popup
    class="py-2"
    [userLoggedIn]="authSvc.isLoggedIn()"
    [displayCurrentConsents]="true"
  />

  <hr class="my-4 py-4" />
  <div class="flex justify-end">
    <a appBtn [routerLink]="authSvc.isLoggedIn() ? '/home' : '/'">Powrót</a>
  </div>
</div>
