<div class="flex h-dvh flex-col">
  <nav class="border-gray-200 bg-primary-50 dark:bg-primary-950">
    <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-2">
      <img src="assets/logos/logo-h.svg" class="h-6 md:h-10" alt="Rowerowe Gminy Logo" />
      @if (stravaAuthSvc.isLoggedIn()) {
        <button type="button" (click)="stravaAuthSvc.logOut()" class="h-6">
          <ng-icon name="tablerLogout" class="h-full" />
        </button>
      } @else {
        <app-strava-btn (clicked)="stravaAuthSvc.logIn()" class="h-10" />
      }
    </div>
  </nav>
  <div class="h-full overflow-auto *:h-full">
    <ng-content></ng-content>
  </div>
</div>
