<div class="main-container">
<mat-toolbar class="main-toolbar">
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span>Rowerowe Gminy</span> -->
  <img src="https://static.rowerowegminy.pl/assets/logo-h.svg" alt="Rowerowe Gminy" class="logo-img">
  <!-- <span class="mini-spacer"></span>
  <a mat-raised-button routerLink="/leaflet" [routerLinkActive]="['is-active']">Leaflet</a>
  <a mat-raised-button routerLink="/libre" [routerLinkActive]="['is-active']">MapLibre</a> -->
    <span class="mini-spacer"> </span>

    <span class="spacer"></span>
    <!-- @if(extAuthSvc.isLoggedIn()) {
    <span>Zalogowano</span>
    } -->
    <button mat-icon-button (click)="extAuthSvc.logIn()">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer class="drawer-container drawer" mode="push" [opened]="drawerOpen">
      <div class="h-flex-container">
        <!-- <mat-form-field>
          <mat-label>Dane</mat-label>
          <mat-select [formControl]="shapeTypeControl" class="h-flex-content">
            <mat-option value="0">Państwo</mat-option>
            <mat-option value="1">Województwa</mat-option>
            <mat-option value="2">Powiaty</mat-option>
            <mat-option value="3">Gminy</mat-option>
            <mat-option value="4">Demo</mat-option>
          </mat-select>
        </mat-form-field> -->
        <app-map-display-control />
      </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-content h-flex-container">
      <!-- <span style="background-color: red;" class="drawer-contnet-inner">a</span> -->
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
  
</div>
