<div class="flex h-dvh flex-col">
  <nav class="border-b-2 border-gray-200">
    <div
      class="mx-auto flex max-w-(--breakpoint-2xl) flex-wrap items-center justify-between gap-2 px-4 py-1"
    >
      <a [routerLink]="'/home'">
        <img src="assets/logos/logo-h.webp" class="h-10 md:h-12" alt="Rowerowe Gminy Logo" />
      </a>

      <div class="grow"></div>
      <button
        data-collapse-toggle="navbar-solid-bg"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 focus:outline-hidden md:hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-solid-bg"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <ng-icon name="tablerMenu2" class="h-full" />
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
        <div class="flex flex-col space-y-1 md:flex-row md:space-y-0 md:space-x-2">
          @if (stravaAuthSvc.isLoggedIn()) {
            <a appBtn [routerLink]="['/user']" class="m-1">
              <div class="h-6"><ng-icon name="tablerUser" /></div>
              Użytkownik
            </a>
            <button appBtn (click)="stravaAuthSvc.logOut()" class="m-1">
              <div class="h-6"><ng-icon name="tablerLogout" /></div>
              Wyloguj
            </button>
          } @else {
            <app-strava-btn [grow]="true" />
          }
        </div>
      </div>
    </div>
  </nav>
  <div class="h-full overflow-auto *:h-full">
    <ng-content></ng-content>
  </div>
  <img
    class="fixed bottom-0 left-0 max-w-32 rounded-tr-xl bg-white shadow-md md:max-w-36"
    src="/assets/strava/powered-by.svg"
    alt="Powered by STRAVA"
  />
</div>
