<div class="grid h-full grid-cols-1 place-content-center place-items-center gap-4 p-6">
  @switch (pageState()) {
    @case ("pending") {
      <app-cookie-popup
        class="h-fit max-w-(--breakpoint-lg)"
        [displayCurrentConsents]="false"
        [userLoggedIn]="false"
        (selectionMade)="retryTos()"
      />
      <!-- <p>
        Logując się do aplikacji Rowerowe Gminy akceptujesz
        <a class="text-blue-600 underline" routerLink="/about/tos">Regulamin</a> oraz
        <a class="text-blue-600 underline" routerLink="/about/privacy">Politykę prywatności</a>
      </p>
      <div class="flex flex-row gap-2">
        <a routerLink="/" appBtn>Odmawiam</a>
        <button appBtn main (click)="acceptTos()">Akceptuję</button>
      </div> -->
    }
    @case ("loading") {
      <app-progress class="w-9/12" />
      <p>Logowanie...</p>
    }
    @case ("redirecting") {
      <app-progress class="w-9/12" />
      <p>Ładowanie...</p>
    }
    @case ("error") {
      <p>Wystąpił błąd podczas logowania. Spróbuj ponownie.</p>
      @switch (errorInfo()) {
        @case ("invalid_scope") {
          <app-alert [type]="'danger'">
            <span class="font-medium">Błąd uprawnień!</span> Aplikacja potrzebuje dostępu do Twoich
            aktywności na Stravie. Podczas logowania zaznacz odpowiednie uprawnienia.
          </app-alert>
        }
        @case ("invalid_code") {
          <app-alert [type]="'danger'"> Nieudana próba logowania. </app-alert>
        }
        @case ("strava_error") {
          <app-alert [type]="'danger'"> Błąd usługi Strava. </app-alert>
        }
        @default {
          <p>{{ errorInfo() }}</p>
        }
      }
      @if (errorInfo()) {}
      <app-strava-btn />
    }
  }
</div>
