<div class="h-full">
  <div class="grid h-full grid-cols-1 place-content-center place-items-center justify-items-center gap-4" [class.hidden]="dataAvailable()">
    <mat-progress-spinner [mode]="this.loadProgressPercent() ? 'determinate' : 'indeterminate'" [value]="this.loadProgressPercent()"> </mat-progress-spinner>
    <span>Ładowanie...</span>
  </div>
  <app-map-libre class="h-full" [class.hidden]="!dataAvailable()" [(regionId)]="selectedRegionId" />

  @if (showPopup()) {
    <div class="fixed bottom-0 right-0 max-h-full p-2 portrait:w-full portrait:sm:w-1/2 landscape:w-2/5 landscape:lg:w-1/3">
      <app-map-popup class="block h-full" (close)="unassignRegionId()" [(regionId)]="selectedRegionId" />
    </div>
  }
</div>
