<div class="h-flex-content h-flex-container">
  <div class="h-flex-content" [class.ui-hidden]="this.admSvc.isAvailable()" >
    <span>Ładowanie danych, {{this.admSvc.loadProgress()}}%</span>
  </div>
  <app-map-libre class="h-flex-content" [class.ui-hidden]="!this.admSvc.isAvailable()" [(regionId)]="selectedRegionId"/>

  @if (showPopup()) {
  <div class="map-popup h-flex-container">
    <app-map-popup class="h-flex-content h-flex-container" (close)="unassignRegionId()" [(regionId)]="selectedRegionId" />
  </div>
  }
</div>
