<app-page-layout-text>
  <h2>O aplikacji</h2>
  <p>
    Aplikacja Rowerowe Gminy jest narzędziem do analizy aktywności rowerowych w gminach w Polsce.
    Umożliwia użytkownikom śledzenie postępów w zwiedzaniu wszyskich gmin w Polsce na rowerze.
    Aplikacja jest dostosowana na urządzenia mobilne oraz komputery stacjonarne.
  </p>
  <p>Aplikacja Rowerowe Gminy jest inspirowana projektami:</p>
  <ul>
    <li>
      <a href="https://zaliczgmine.pl/" target="_blank">Zalicz Gminę</a>
    </li>
    <li>
      <a href="https://statshunters.com/" target="_blank">StatsHunters</a>
    </li>
  </ul>
  <p>Kod źródłowy aplikacji dostępny jest publicznie:</p>
  <ul>
    <li>
      <a href="https://github.com/m3nowak/rowerowe_gminy" target="_blank">Backend</a>
    </li>
    <li>
      <a href="https://github.com/m3nowak/rowerowe-gminy-front" target="_blank">Frontend</a>
    </li>
  </ul>
  <h2>Dokumenty</h2>
  <ul>
    <li>
      <a [routerLink]="['/about/tos']">Regulamin</a>
    </li>
    <li>
      <a [routerLink]="['/about/privacy']">Polityka Prywatności</a>
    </li>
    <li>
      <a [routerLink]="['/about/gdpr']">Obowiązek informacyjny RODO</a>
    </li>
  </ul>

  <h2>Linki</h2>
  <ul>
    <li><a href="https://www.strava.com/clubs/rowerowegminy" target="_blank">Klub Strava</a></li>
  </ul>
</app-page-layout-text>
