<mgl-map
  class="map-container h-flex-content h-flex-container"
  [style]="(mapDisplaySettings$ | async)!"
  [zoom]="[6]"
  [center]="[19.42366667, 52.11433333]"
  (mapLoad)="onMapLoad($event)"
  [preserveDrawingBuffer]="true"
  [attributionControl]="false"
>
  <mgl-control mglAttribution position="top-left" [compact]="true" [customAttribution]="'MapLibre | geoportal.gov.pl'"></mgl-control>
  @if (featureCollection$ | async; as nfc){
  <!-- <ng-container *ngIf="fcStatic as features"> -->
  <mgl-geojson-source id="borders" [data]="nfc.data" promoteId="TERYT"> </mgl-geojson-source>

  <mgl-layer
    id="borders"
    type="fill"
    source="borders"
    [filter]="['get', 'isUnlocked']"
    [paint]="{
        'fill-antialias': true,
        'fill-color': [
          'match',
          ['get', 'type'],
          'WOJ',
          '#581D89',
          'POW',
          '#004080',
          'GMI',
          '#1B9300',
          '#C94C00'
        ],
        'fill-opacity': 0.50,
    }"
  />
  <mgl-layer
    id="borders-clickable"
    type="fill"
    source="borders"
    [filter]="['==', ['get', 'type'], 'GMI']"
    (layerClick)="onLayerClick($event)"
    [paint]="{
        'fill-opacity': 0,
      }"
  />
  <mgl-layer
    id="borders-selected"
    type="fill"
    source="borders"
    [filter]="bordersSelectedFilter()"
    [paint]="{
        'fill-opacity': 0.5,
      }"
  />
  <mgl-layer
    id="borders-lines"
    type="line"
    source="borders"
    [filter]="['==', ['get', 'type'], 'GMI']"
    [paint]="{
        'line-color': '#400',
        'line-width': [
          'interpolate',
          ['linear'],
          ['zoom'],
          8,
          0,
          16,
          3
        ],
    }"
  />
  }
</mgl-map>
