<!-- https://raw.githubusercontent.com/go2garret/maps/main/src/assets/json/openStreetMap.json -->
<mgl-map
  class="map-container h-flex-content"
  [style]="(mapDisplaySettings$ | async)!"
  [zoom]="[6]"
  [center]="[19.42366667, 52.11433333]"
  (mapLoad)="onMapLoad($event)"
  [preserveDrawingBuffer]="true"
>
  @if (featureCollection$ | async; as nfc){
  <!-- <ng-container *ngIf="fcStatic as features"> -->
  <mgl-geojson-source id="borders" [data]="nfc.data"> </mgl-geojson-source>
  <mgl-layer
    id="borders"
    type="fill"
    source="borders"
    (layerClick)="onLayerClick($event)"
    [paint]="{
        'fill-antialias': true,
        'fill-color': [
          'case',
          ['boolean', ['feature-state', 'selected'], false],
          '#088',
          '#808'
        ],
        'fill-opacity': 0.5,
    }"
  >
  </mgl-layer>
  <mgl-layer
    id="borders-lines"
    type="line"
    source="borders"
    [paint]="{
        'line-color': '#fff',
        'line-width': 1,
    }"
  >
  </mgl-layer>
  } 
  <!-- @if (selectedFeature$ | async; as selectedFeature){
  <mgl-popup [lngLat]="selectedFeature.lngLat" [closeButton]="false" [closeOnClick]="false">
    <span class="map-popup">Nazwa: {{ selectedFeature.name }}, kod TERYT: {{ selectedFeature.teryt }}</span>
  </mgl-popup>
  } -->
</mgl-map>
